.idea/
*.iml
*.iws
*.eml
out/
.DS_Store
.svn
log/*.log
tmp/**
images
node_modules/
slideshow/slides/*.md
!slideshow/slides/Bootstrap 4 Cards.md
!slideshow/slides/demo.md
slideshow/course.html
.sass-cache
css/reveal.min.css
js/reveal.min.js
