/**
 * GitHub Gist Theme
<<<<<<< HEAD
=======
 * Author : Anthony Attard - https://github.com/AnthonyAttard
>>>>>>> ba13bac9afcbd04eebd3d3b11016ae5b607409c1
 * Author : Louis Barranqueiro - https://github.com/LouisBarranqueiro
 */

.hljs {
  display: block;
  background: white;
  padding: 0.5em;
  color: #333333;
  overflow-x: auto;
}

.hljs-comment,
.hljs-meta {
  color: #969896;
}

<<<<<<< HEAD
.hljs-string,
=======
>>>>>>> ba13bac9afcbd04eebd3d3b11016ae5b607409c1
.hljs-variable,
.hljs-template-variable,
.hljs-strong,
.hljs-emphasis,
.hljs-quote {
  color: #df5000;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-type {
<<<<<<< HEAD
  color: #a71d5d;
=======
  color: #d73a49;
>>>>>>> ba13bac9afcbd04eebd3d3b11016ae5b607409c1
}

.hljs-literal,
.hljs-symbol,
.hljs-bullet,
.hljs-attribute {
  color: #0086b3;
}

.hljs-section,
.hljs-name {
  color: #63a35c;
}

.hljs-tag {
  color: #333333;
}

.hljs-title,
.hljs-attr,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
<<<<<<< HEAD
  color: #795da3;
=======
  color: #6f42c1;
>>>>>>> ba13bac9afcbd04eebd3d3b11016ae5b607409c1
}

.hljs-addition {
  color: #55a532;
  background-color: #eaffea;
}

.hljs-deletion {
  color: #bd2c00;
  background-color: #ffecec;
}

.hljs-link {
  text-decoration: underline;
}
<<<<<<< HEAD
=======

.hljs-number {
  color: #005cc5;
}

.hljs-string {
  color: #032f62;
}
>>>>>>> ba13bac9afcbd04eebd3d3b11016ae5b607409c1
