@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);

/**
 * Learning theme for reveal.js
 * built to match LinkedIn Learning Style
 * By Ray Villalobos, http://raybo.org
 */


// Default mixins and settings -----------------
@import "mixins";
@import "settings";
@import "learning";
// ---------------------------------------------

// Color palette

$darkgray: #313235;
$mediumgray: #86888A;
$lightgray: #CDCDCD;
$background: #FFF;
$purple: #3D1E61;

$primary: #0077B5;
$success: #5cb85c;
$info: #5bc0de;
$warning: #E68523;
$danger: #D9534E;

$titlebg: $purple;

// Override theme settings (see ../template/settings.scss)
$backgroundColor: $background;

$mainColor: $darkgray;
$headingColor: $mainColor;

$mainFontSize: 42px;
$mainFont: Raleway, -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
$headingFont: Raleway, -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
$monospaceFont: Calynda, monospace;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: inherit;
$headingFontWeight: 900;
$linkColor: $warning;
$linkColorHover: lighten( $linkColor, 15% );
$selectionColor: $darkgray;
$selectionBackgroundColor: lighten( $lightgray, 5% );;

$heading1Size: 50pt;
$heading2Size: 48pt;
$heading3Size: 44pt;
$heading4Size: 38pt;

section.has-light-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: $mainColor;
	}
}
