/*********************************************
 * GLOBAL STYLES
 *********************************************/

.reveal {
  background-color: transparent;
  font-family: Avenir, -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  font-size: 2rem;
  font-weight: 100;
  letter-spacing: 0.015em;
  color: #444;
}

::selection {
  background-color: #f2da63;
  text-shadow: none;
}

.reveal .slides {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reveal .slides > section,
.reveal .slides > section > section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: inherit;
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 0.2em 0;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: normal;
  margin-top: 0;
  text-align: center;
  text-transform: inherit;
  text-shadow: none;
  word-wrap: break-word;
}

.reveal section > h1 {
  font-size: 50pt;
}

.reveal section > h2 {
  font-size: 48pt;
}

.reveal section > h3 {
  font-size: 44pt;
}

.reveal section > h4 {
  font-size: 38pt;
}

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  padding: 0 5%;
  line-height: 120%;
}

.reveal li p {
  padding: 0;
  margin: 0;
  line-height: 120%;
}

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video {
  width: 100%;
}

.reveal iframe {
  width: 90% !important;
  height: 100%;
}

.reveal strong,
.reveal b {
  font-weight: bold;
}

.reveal em {
  font-style: italic;
}

.reveal ol,
.reveal dl,
.reveal ul {
  display: block;
  text-align: left;
}

.reveal ol {
  list-style-type: decimal;
}

.reveal ul {
  list-style-type: disc;
}

.reveal .slides ul li,
.reveal .slides ol li {
  margin: 1em 2em;
  line-height: 120%;
}

.reveal li + code,
.reveal ol li + code {
  margin-left: -300px;
}

.reveal ul ul {
  list-style-type: square;
  margin-bottom: 20pt;
}

.reveal ul li ul li:first-child,
.reveal ol li ul li:first-child {
  margin-top: 20pt;
}

.reveal ul li ul li,
.reveal ol li ul li {
  margin-bottom: 20pt;
}

.reveal ul ul ul {
  list-style-type: circle;
}

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
}

.reveal dt {
  font-weight: bold;
}

.reveal q,
.reveal blockquote {
  quotes: none;
}

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
}

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block;
}

.reveal q {
  font-style: italic;
}

.reveal table {
  width: 90%;
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 2rem !important;
}

.reveal table th {
  vertical-align: middle;
  font-weight: bold;
  color: #fff;
  background: #0077b5;
  line-height: 100%;
  border: 1px solid;
}

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.5em;
  border: 1px solid black;
}

.reveal table th {
  border: 1px solid #fff;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.reveal table th:first-child {
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.reveal table th:last-child {
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.reveal table th[align='center'],
.reveal table td[align='center'] {
  text-align: center;
}

.reveal table th[align='right'],
.reveal table td[align='right'] {
  text-align: right;
}

.reveal table td {
  font-size: 1.7rem;
}

.reveal code {
  font-family: monospace;
  display: inline-block;
  padding: 0 10px;
  white-space: nowrap;
  cursor: text;
  border-radius: 5px;
}

.reveal li code {
  border-radius: 5px;
  margin: 2px;
}

.reveal pre {
  position: relative;
}
.reveal pre > code {
  background: #edebe8;
  display: block;
  font-family: monospace;
  font-size: 1.2rem;
  padding: 1em 0;
  position: relative;
  text-align: left;
  white-space: pre-line;
  padding-left: 1em !important;
  padding-right: 1em !important;
}

.reveal code table td {
  font-size: 1.2rem;
}

.reveal p code,
.reveal li code {
  background: rgb(126, 126, 126);
  color: #ffffff;
}

.reveal sup {
  vertical-align: super;
}

.reveal sub {
  vertical-align: sub;
}

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 120%;
}

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #0277b5;
  transition: color 0.15s ease;
}

.reveal a:hover {
  text-decoration: underline;
  text-shadow: none;
}

.reveal .roll span:after {
  color: #fff;
  background: #a95f13;
}

/*********************************************
 * IMAGES
 *********************************************/
.reveal section > img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
}

.reveal section img.plain {
  border: 0;
  box-shadow: none;
}

.reveal a img {
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #e68523;
}

/*********************************************
* Code Colors
*********************************************/
.reveal .code-primary {
  background: #0077b5 !important;
  margin: 5px;
  color: #fff !important;
}

.reveal .code-success {
  background-color: #5cb85c !important;
  margin: 5px;
  color: #fff !important;
}

.reveal .code-info {
  background-color: #5bc0de !important;
  margin: 5px;
  color: #fff !important;
}

.reveal .code-warning {
  background-color: #e68523 !important;
  margin: 5px;
  color: #fff !important;
}

.reveal .code-danger {
  background-color: #d9534e !important;
  color: #fff !important;
}

/*********************************************
 * Title Slide
 *********************************************/
.reveal-viewport.title {
  background-image: linear-gradient(to right, #2484bb, #30b6c7);
}

.reveal-viewport.title .slides {
  color: #fff;
  letter-spacing: 0.03em;
  text-align: center;
}

.reveal-viewport.title .slides h1,
.reveal-viewport.title .slides h2,
.reveal-viewport.title .slides h3,
.reveal-viewport.title .slides h4,
.reveal-viewport.title .slides h5,
.reveal-viewport.title .slides h6 {
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}

.reveal-viewport.title .slides h1 {
  font-size: 2.2em;
  color: #ffc109;
}

.reveal-viewport.title .slides h2 {
  font-size: 1.6em;
  font-weight: 100;
  line-height: 100%;
}

.reveal-viewport.title .slides p {
  font-size: 0.9em;
}

.reveal-viewport.title .slides .small {
  font-weight: 100;
  font-size: 0.5em;
}

.reveal-viewport.title section {
  background-color: transparent !important;
}

/*********************************************
 * Title Slide
 *********************************************/
.reveal-viewport.title-gray {
  background-color: #2e3338;
  transition: color 0.15s ease;
}

.reveal-viewport.title-gray .slides {
  color: #fff;
  letter-spacing: 0.03em;
  text-align: center;
}

.reveal-viewport.title-gray .slides h1,
.reveal-viewport.title-gray .slides h2,
.reveal-viewport.title-gray .slides h3,
.reveal-viewport.title-gray .slides h4,
.reveal-viewport.title-gray .slides h5,
.reveal-viewport.title-gray .slides h6 {
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}

.reveal-viewport.title-gray .slides h1 {
  font-size: 2.2em;
  color: #ffc109;
}

.reveal-viewport.title-gray .slides h2 {
  font-size: 1.6em;
  font-weight: 100;
  line-height: 100%;
}

.reveal-viewport.title-gray .slides p {
  font-size: 0.9em;
}

.reveal-viewport.title-gray .slides .small {
  font-weight: 100;
  font-size: 0.5em;
}

.reveal-viewport.title-gray section {
  background-color: transparent !important;
}

/*********************************************
 * Text On Image
 *********************************************/
.textonimage body {
  background-image: #0077b5;
}

.textonimage .slides {
  height: 100%;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
}

.textonimage .slides {
  letter-spacing: 0.03em;
  color: #fff;
  text-align: center;
}

.textonimage .slides h1,
.textonimage .slides h2,
.textonimage .slides h3,
.textonimage .slides h4,
.textonimage .slides h5,
.textonimage .slides h6 {
  color: inherit;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
  text-shadow: 0px 0px 50px rgba(0, 0, 0, 0.7);
}

.textonimage .slides p {
  margin-top: 0;
  text-shadow: 0px 0px 10px black;
}

.textonimage .slides a {
  color: #fff;
  text-shadow: 0px 0px 10px black;
}

/*********************************************
 * Text On Video
 *********************************************/
.textonvideo body {
  background-color: black;
}

.textonvideo .slides {
  height: 100%;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
}

.textonvideo .slides {
  letter-spacing: 0.03em;
  color: #fff;
  text-align: center;
}

.textonvideo .slides h1,
.textonvideo .slides h2,
.textonvideo .slides h3,
.textonvideo .slides h4,
.textonvideo .slides h5,
.textonimage .slides h6 {
  color: inherit;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
  text-shadow: 0px 0px 50px rgba(0, 0, 0, 0.7);
}

.textonvideo .slides p {
  margin-top: 0;
  text-shadow: 0px 0px 10px black;
}

.textonvideo .slides a {
  color: #fff;
  text-shadow: 0px 0px 10px black;
}

/*********************************************
 * Has Icon
 *********************************************/
.hasicon .slides h1 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.hasicon .slides h1 > i {
  font-size: 120px;
  color: var(--danger);
  vertical-align: middle;
}

/*********************************************
 * Disable outline on contentEditable
 *********************************************/
.slides [contenteditable]:focus {
  outline: none;
}

/*********************************************
 * Persistent Footer
 *********************************************/
@keyframes fadein {
  0% {
    opacity: 0;
    transform: translate(0, 200px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(0, 200px);
  }
}

.footer {
  font-size: 0.5em !important;
  display: block;
  background: #212529;
  color: #aaa;
  text-align: center;
  position: absolute;
  display: block;
  bottom: 0;
  width: 100%;
  z-index: 500;
  padding: 10px 0 !important;
}

.footer a {
  color: #aaa;
}

.footer a:hover {
  color: #fff;
}

footer.fadein {
  opacity: 1;
  animation-name: fadein;
  animation-timing-function: ease-out;
  animation-duration: 0.5s;
}

footer.fadeout {
  opacity: 0;
  animation-name: fadeout;
  animation-timing-function: ease-out;
  animation-duration: 1s;
  transform: translate(0, 200px);
}

@media only screen and (max-width: 450px) {
  .footer {
    font-size: 0.8rem !important;
  }
}

/*********************************************
 * Tooltips
 *********************************************/
.reveal .tooltip {
  position: relative;
}

.reveal .tooltip span {
  background: #444;
  bottom: 100%;
  display: block;
  font-size: 0.7em;
  left: -20px;
  opacity: 0;
  padding: 2px 10px;
  margin-bottom: 5px;
  pointer-events: none;
  position: absolute;
  border-radius: 10px;
  box-shadow: none;
  border: 2px solid white;
  transform: translateY(25px);
  transition: all 0.25s ease-out;
  white-space: nowrap;
  transform: translateY(0px);
}

.reveal .tooltip:hover span {
  display: inline-block;
  opacity: 1;
}

.reveal a.tooltip span {
  color: #fff !important;
}

.reveal a code {
  cursor: pointer !important;
}

/*********************************************
 * Tooltips
 *********************************************/
.circles ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.circles li.fragment {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: 500;
  color: #666;
  border: 10px solid #5bc0de;
  list-style: none;
  padding: 1vmin;
  font-size: 5vmin;
  width: 22vmin;
  height: 22vmin;
  text-align: center;
  line-height: 102%;
  margin: 10px !important;
  opacity: 0.5 !important;
}

.circles li.current-fragment {
  opacity: 1 !important;
}

.reveal a code {
  cursor: pointer !important;
}

.reveal ul {
  margin-top: 1rem;
}
.reveal ul ul {
  margin-left: 0 !important;
  font-weight: bold;
}

.reveal ul li ul li,
.reveal ol li ul li {
  line-height: 100%;
  font-size: 0.7em;
  margin-bottom: 20px !important;
  margin-left: -30px !important;
  list-style-type: none;
  white-space: nowrap !important;
}

.reveal ul li ul li:nth-child(1) code {
  background-color: var(--success);
  color: white;
  font-weight: normal;
  margin: 4px 0;
}
.reveal ul li ul li:nth-child(2) code {
  background-color: var(--danger);
  color: white;
  font-weight: normal;
  margin: 4px 0;
}
.reveal ul li ul li:nth-child(3) code {
  background-color: var(--primary);
  color: white;
  font-weight: normal;
  margin: 4px 0;
}
.reveal ul li ul li:nth-child(4) code {
  background-color: var(--warning);
  color: white;
  font-weight: normal;
  margin: 4px 0;
}
.reveal ul li ul li:nth-child(5) code {
  background-color: var(--info);
  color: white;
  font-weight: normal;
  margin: 4px 0;
}

.card {
  font-size: 1rem;
}

ul.list-group li,
ol.list-group li {
  font-size: 1.2rem;
  margin: 0 !important;
  margin-bottom: -1px !important;
}

ul.list-group li.current-fragment {
  background-color: var(--primary);
  color: var(--white);
}

.alert {
  width: auto;
  font-size: 0.6em;
}
